In [8]:
import pandas as pd
import numpy as np

In [9]:
cross_walk = pd.read_csv("/nas/longleaf/home/catererz/epi/GRiD/files/SOL_NWD_IDs_crosswalk.csv")
dip_calls = pd.read_csv("/nas/longleaf/home/catererz/epi/GRiD/files/diploid_calls.txt", sep=",")

extract_prs_wang = pd.read_csv("./files/extract_prs_wang.txt", header=None, names=["NWD_ID"])
subject_id = pd.read_csv("./files/subject.tsv", sep="\t")
aliquot_id = pd.read_csv("./files/aliquot.tsv", sep="\t")
sample_id = pd.read_csv("./files/sample.tsv", sep="\t")
simple_germline = pd.read_csv("./files/simple_germline_variation.tsv", sep="\t")
anschutz_lpa_subject = pd.read_csv("./files/anschutz_lpa_subject.tsv", sep="\t")

In [10]:
print('Cross Walk Columns:')
print(cross_walk.columns)

print('\nCross Walk Head:')
print(cross_walk.head(2))

print('\nDiploid Calls Columns:')
print(dip_calls.columns)

print('\nDiploid Calls Head:')
print(dip_calls.head(2))

print('\nExtract PRS Wang Columns:')
print(extract_prs_wang.columns)

print('\nExtract PRS Wang Head:')
print(extract_prs_wang.head(2))

print('\nSubject ID Columns:')
print(subject_id.columns)

print('\nSubject ID Head:')
print(subject_id.head(2))

Cross Walk Columns:
Index(['ID', 'STRAT', 'PSU_ID', 'GOLD_ID', 'GWAS_ID', 'SUBJECT_ID', 'HH_ID',
       'SOURCE', 'PC1', 'PC2', 'PC3', 'PC4', 'PC5', 'PC6', 'PC7', 'PC8', 'PC9',
       'PC10', 'PC11', 'goldID', 'SampleID', 'NWD_ID'],
      dtype='object')

Cross Walk Head:
      ID  STRAT  PSU_ID GOLD_ID GWAS_ID SUBJECT_ID HH_ID SOURCE  PC1  PC2  \
0   5678     20   20383   G2136     NaN        NaN   NaN    NaN  NaN  NaN
1  60961     19   19667   G1715     NaN        NaN   NaN    NaN  NaN  NaN

   ...  PC5  PC6  PC7  PC8  PC9  PC10  PC11  goldID  SampleID NWD_ID
0  ...  NaN  NaN  NaN  NaN  NaN   NaN   NaN   G2136    G2136L    NaN
1  ...  NaN  NaN  NaN  NaN  NaN   NaN   NaN   G1715    G1715R    NaN

[2 rows x 22 columns]

Diploid Calls Columns:
Index(['id', 'subject_id', 'nwd_id', 'gwas_id', 'bkgrd1', 'lpa_nmol'], dtype='object')

Diploid Calls Head:
     id subject_id     nwd_id   gwas_id bkgrd1  lpa_nmol
0  5678  SoL694820        NaN  G0114250      3       7.6
1  6570  SoL714793  NWD725683  G0111052      3      10.1

Extract PRS Wang Columns:
Index(['NWD_ID'], dtype='object')

Extract PRS Wang Head:
      NWD_ID
0  NWD278543
1  NWD579469

Subject ID Columns:
Index(['entity:subject_id', 'pfb:consent_codes', 'pfb:created_datetime',
       'pfb:derived_parent_subject_id', 'pfb:derived_topmed_subject_id',
       'pfb:participant_id', 'pfb:project_id', 'pfb:state', 'pfb:study',
       'pfb:submitter_id', 'pfb:updated_datetime'],
      dtype='object')

Subject ID Head:
                      entity:subject_id pfb:consent_codes  \
0  000166c0-410b-484d-9bc7-f135f6fc4eb3           ["HMB"]
1  00020584-fb55-4a98-b782-34abdb4c05f4           ["HMB"]

               pfb:created_datetime pfb:derived_parent_subject_id  \
0  2020-05-01T21:15:30.738215+00:00                           NaN
1  2020-05-01T21:15:20.691933+00:00                           NaN

  pfb:derived_topmed_subject_id pfb:participant_id       pfb:project_id  \
0        phs001395.v1_SoL987970          SoL987970  topmed-HCHS-SOL_HMB
1        phs001395.v1_SoL244893          SoL244893  topmed-HCHS-SOL_HMB

   pfb:state                             pfb:study pfb:submitter_id  \
0  validated  cfc9dac1-873a-4a16-ba31-3dfb9fe5cf46        SoL987970
1  validated  cfc9dac1-873a-4a16-ba31-3dfb9fe5cf46        SoL244893

               pfb:updated_datetime
0  2021-05-10T18:52:17.508724+00:00
1  2021-05-10T18:52:17.508724+00:00

In [11]:
# merge cross_walk with extract_prs_wang on NWD_ID
merged_df = pd.merge(extract_prs_wang, cross_walk, on="NWD_ID", how="inner")

print('\nMerged DataFrame Columns:')
print(merged_df.columns)

print('\nMerged DataFrame Head:')
print(merged_df.head(2))

print('\nNumber of rows in Merged DataFrame:', len(merged_df))

Merged DataFrame Columns:
Index(['NWD_ID', 'ID', 'STRAT', 'PSU_ID', 'GOLD_ID', 'GWAS_ID', 'SUBJECT_ID',
       'HH_ID', 'SOURCE', 'PC1', 'PC2', 'PC3', 'PC4', 'PC5', 'PC6', 'PC7',
       'PC8', 'PC9', 'PC10', 'PC11', 'goldID', 'SampleID'],
      dtype='object')

Merged DataFrame Head:
      NWD_ID        ID  STRAT  PSU_ID GOLD_ID   GWAS_ID SUBJECT_ID     HH_ID  \
0  NWD278543  40907361     11   11182     NaN  G0081914  SoL129930  H0232554
1  NWD579469  35388747     17   17332     NaN  G0115739  SoL379011  H0269816

    SOURCE       PC1  ...       PC4       PC5       PC6       PC7       PC8  \
0  CCDGWGS -0.000301  ... -0.001571 -0.002140  0.006926  0.002409 -0.000643
1  CCDGWGS -0.001465  ... -0.000846 -0.001173  0.001504  0.000179  0.000204

        PC9      PC10      PC11  goldID  SampleID
0 -0.001040  0.000711 -0.000164     NaN       NaN
1  0.001377 -0.002485  0.000983     NaN       NaN

[2 rows x 22 columns]

Number of rows in Merged DataFrame: 7724

In [12]:
# Check if a specific NWD_ID exists in subject_id's pfb:participant_id column
print(
    "Number of matching participant_ids:",
    subject_id['pfb:participant_id'].str.contains("SoL", na=False).sum()
)


# Merge cross_walk with subject on NWD_ID for cross_walk and pfb:participant_id for subject_id
merged_subject_df = pd.merge(merged_df, subject_id, left_on="SUBJECT_ID", right_on="pfb:participant_id", how="inner")

print('\nMerged Subject DataFrame Columns:')
print(merged_subject_df.columns)

print('\nMerged Subject DataFrame Head:')
print(merged_subject_df.head(2))

print('\nNumber of rows in Merged Subject DataFrame:', len(merged_subject_df))

Number of matching participant_ids: 7071

Merged Subject DataFrame Columns:
Index(['NWD_ID', 'ID', 'STRAT', 'PSU_ID', 'GOLD_ID', 'GWAS_ID', 'SUBJECT_ID',
       'HH_ID', 'SOURCE', 'PC1', 'PC2', 'PC3', 'PC4', 'PC5', 'PC6', 'PC7',
       'PC8', 'PC9', 'PC10', 'PC11', 'goldID', 'SampleID', 'entity:subject_id',
       'pfb:consent_codes', 'pfb:created_datetime',
       'pfb:derived_parent_subject_id', 'pfb:derived_topmed_subject_id',
       'pfb:participant_id', 'pfb:project_id', 'pfb:state', 'pfb:study',
       'pfb:submitter_id', 'pfb:updated_datetime'],
      dtype='object')

Merged Subject DataFrame Head:
      NWD_ID        ID  STRAT  PSU_ID GOLD_ID   GWAS_ID SUBJECT_ID     HH_ID  \
0  NWD101353  54405981     12   12169     NaN  G0114796  SoL796777  H0299482
1  NWD101353  54405981     12   12169     NaN  G0114796  SoL796777  H0299482

   SOURCE       PC1  ...  pfb:consent_codes              pfb:created_datetime  \
0  TOPMED  0.001597  ...      ["NPU","HMB"]  2020-05-01T21:12:53.021416+00:00
1  TOPMED  0.001597  ...      ["HMB","NPU"]  2020-10-09T18:35:17.779281+00:00

   pfb:derived_parent_subject_id  pfb:derived_topmed_subject_id  \
0                            NaN         phs001395.v2_SoL796777
1         phs000810.v1_SoL796777         phs001395.v1_SoL796777

   pfb:participant_id            pfb:project_id  pfb:state  \
0           SoL796777   topmed-HCHS-SOL_HMB-NPU  validated
1           SoL796777  parent-HCHS-SOL_HMB-NPU_  validated

                              pfb:study  pfb:submitter_id  \
0  c8ba9142-0a69-4a96-9e19-be8307a78e15         SoL796777
1  b96de753-e706-4120-88b3-16ed5ccf2081         SoL796777

               pfb:updated_datetime
0  2024-04-19T21:22:15.461023+00:00
1  2020-10-09T18:35:17.779281+00:00

[2 rows x 33 columns]

Number of rows in Merged Subject DataFrame: 7046

In [14]:
# merge cross_walk with anschutz_lpa_subject on SUBJECT_ID and pfb:participant_id
anschutz_lpa_subject = pd.merge(merged_df, anschutz_lpa_subject, left_on="SUBJECT_ID", right_on="pfb:participant_id", how="inner")

print('\nAnschutz LPA Subject DataFrame Columns:')
print(anschutz_lpa_subject.columns)

print('\nAnschutz LPA Subject DataFrame Head:')
print(anschutz_lpa_subject.head(2))

print('\nNumber of rows in Anschutz LPA Subject DataFrame:', len(anschutz_lpa_subject)) 

# count number of non-null NWD_ID in anschutz_lpa_subject
print(anschutz_lpa_subject.columns.tolist())
print('\nNumber of non-null NWD_ID in Anschutz LPA Subject DataFrame:', anschutz_lpa_subject['NWD_ID_x'].notnull().sum())

Anschutz LPA Subject DataFrame Columns:
Index(['NWD_ID_x', 'ID_x', 'STRAT_x', 'PSU_ID_x', 'GOLD_ID_x', 'GWAS_ID_x',
       'SUBJECT_ID_x', 'HH_ID_x', 'SOURCE_x', 'PC1_x', 'PC2_x', 'PC3_x',
       'PC4_x', 'PC5_x', 'PC6_x', 'PC7_x', 'PC8_x', 'PC9_x', 'PC10_x',
       'PC11_x', 'goldID_x', 'SampleID_x', 'NWD_ID_y', 'ID_y', 'STRAT_y',
       'PSU_ID_y', 'GOLD_ID_y', 'GWAS_ID_y', 'SUBJECT_ID_y', 'HH_ID_y',
       'SOURCE_y', 'PC1_y', 'PC2_y', 'PC3_y', 'PC4_y', 'PC5_y', 'PC6_y',
       'PC7_y', 'PC8_y', 'PC9_y', 'PC10_y', 'PC11_y', 'goldID_y', 'SampleID_y',
       'entity:subject_id', 'pfb:consent_codes', 'pfb:created_datetime',
       'pfb:derived_parent_subject_id', 'pfb:derived_topmed_subject_id',
       'pfb:participant_id', 'pfb:project_id', 'pfb:state', 'pfb:study',
       'pfb:submitter_id', 'pfb:updated_datetime'],
      dtype='object')

Anschutz LPA Subject DataFrame Head:
    NWD_ID_x      ID_x  STRAT_x  PSU_ID_x GOLD_ID_x GWAS_ID_x SUBJECT_ID_x  \
0  NWD101353  54405981       12     12169       NaN  G0114796    SoL796777
1  NWD101353  54405981       12     12169       NaN  G0114796    SoL796777

    HH_ID_x SOURCE_x     PC1_x  ...  pfb:consent_codes  \
0  H0299482   TOPMED  0.001597  ...      ["NPU","HMB"]
1  H0299482   TOPMED  0.001597  ...      ["HMB","NPU"]

               pfb:created_datetime  pfb:derived_parent_subject_id  \
0  2020-05-01T21:12:53.021416+00:00                            NaN
1  2020-10-09T18:35:17.779281+00:00         phs000810.v1_SoL796777

   pfb:derived_topmed_subject_id  pfb:participant_id  \
0         phs001395.v2_SoL796777           SoL796777
1         phs001395.v1_SoL796777           SoL796777

             pfb:project_id  pfb:state                             pfb:study  \
0   topmed-HCHS-SOL_HMB-NPU  validated  c8ba9142-0a69-4a96-9e19-be8307a78e15
1  parent-HCHS-SOL_HMB-NPU_  validated  b96de753-e706-4120-88b3-16ed5ccf2081

   pfb:submitter_id              pfb:updated_datetime
0         SoL796777  2024-04-19T21:22:15.461023+00:00
1         SoL796777  2020-10-09T18:35:17.779281+00:00

[2 rows x 55 columns]

Number of rows in Anschutz LPA Subject DataFrame: 7046
['NWD_ID_x', 'ID_x', 'STRAT_x', 'PSU_ID_x', 'GOLD_ID_x', 'GWAS_ID_x', 'SUBJECT_ID_x', 'HH_ID_x', 'SOURCE_x', 'PC1_x', 'PC2_x', 'PC3_x', 'PC4_x', 'PC5_x', 'PC6_x', 'PC7_x', 'PC8_x', 'PC9_x', 'PC10_x', 'PC11_x', 'goldID_x', 'SampleID_x', 'NWD_ID_y', 'ID_y', 'STRAT_y', 'PSU_ID_y', 'GOLD_ID_y', 'GWAS_ID_y', 'SUBJECT_ID_y', 'HH_ID_y', 'SOURCE_y', 'PC1_y', 'PC2_y', 'PC3_y', 'PC4_y', 'PC5_y', 'PC6_y', 'PC7_y', 'PC8_y', 'PC9_y', 'PC10_y', 'PC11_y', 'goldID_y', 'SampleID_y', 'entity:subject_id', 'pfb:consent_codes', 'pfb:created_datetime', 'pfb:derived_parent_subject_id', 'pfb:derived_topmed_subject_id', 'pfb:participant_id', 'pfb:project_id', 'pfb:state', 'pfb:study', 'pfb:submitter_id', 'pfb:updated_datetime']

Number of non-null NWD_ID in Anschutz LPA Subject DataFrame: 7046

In [15]:
count_reads_tsv = pd.read_csv("/nas/longleaf/home/catererz/work/updated_LPA_VNTR_SOFTWARE/count-reads.tsv", sep="\t") 

count_reads_tsv['NWD_ID'] = count_reads_tsv['Sample'].str.split('.').str[0]

print('\nCount Reads TSV Columns:')
print(count_reads_tsv.columns)

print('\nCount Reads TSV Head:')
print(count_reads_tsv.head(2))

Count Reads TSV Columns:
Index(['Sample', 'chr6:160605062-160647661', 'NWD_ID'], dtype='object')

Count Reads TSV Head:
                             Sample  chr6:160605062-160647661     NWD_ID
0  NWD422490.b38.irc.v1_subset.cram                     14614  NWD422490
1  NWD655671.b38.irc.v1_subset.cram                     22586  NWD655671

In [17]:
# now merge count_reads_tsv with anschutz_lpa_subject on NWD_ID
final_merged_df = pd.merge(anschutz_lpa_subject, count_reads_tsv, left_on="NWD_ID_x", right_on="NWD_ID", how="inner")

print('\nFinal Merged DataFrame Columns:')
print(final_merged_df.columns)
print('\nFinal Merged DataFrame Head:')
print(final_merged_df.head(2))

print('\nNumber of rows in Final Merged DataFrame:', len(final_merged_df))

Final Merged DataFrame Columns:
Index(['NWD_ID_x', 'ID_x', 'STRAT_x', 'PSU_ID_x', 'GOLD_ID_x', 'GWAS_ID_x',
       'SUBJECT_ID_x', 'HH_ID_x', 'SOURCE_x', 'PC1_x', 'PC2_x', 'PC3_x',
       'PC4_x', 'PC5_x', 'PC6_x', 'PC7_x', 'PC8_x', 'PC9_x', 'PC10_x',
       'PC11_x', 'goldID_x', 'SampleID_x', 'NWD_ID_y', 'ID_y', 'STRAT_y',
       'PSU_ID_y', 'GOLD_ID_y', 'GWAS_ID_y', 'SUBJECT_ID_y', 'HH_ID_y',
       'SOURCE_y', 'PC1_y', 'PC2_y', 'PC3_y', 'PC4_y', 'PC5_y', 'PC6_y',
       'PC7_y', 'PC8_y', 'PC9_y', 'PC10_y', 'PC11_y', 'goldID_y', 'SampleID_y',
       'entity:subject_id', 'pfb:consent_codes', 'pfb:created_datetime',
       'pfb:derived_parent_subject_id', 'pfb:derived_topmed_subject_id',
       'pfb:participant_id', 'pfb:project_id', 'pfb:state', 'pfb:study',
       'pfb:submitter_id', 'pfb:updated_datetime', 'Sample',
       'chr6:160605062-160647661', 'NWD_ID'],
      dtype='object')

Final Merged DataFrame Head:
    NWD_ID_x      ID_x  STRAT_x  PSU_ID_x GOLD_ID_x GWAS_ID_x SUBJECT_ID_x  \
0  NWD101353  54405981       12     12169       NaN  G0114796    SoL796777
1  NWD101353  54405981       12     12169       NaN  G0114796    SoL796777

    HH_ID_x SOURCE_x     PC1_x  ...  pfb:derived_topmed_subject_id  \
0  H0299482   TOPMED  0.001597  ...         phs001395.v2_SoL796777
1  H0299482   TOPMED  0.001597  ...         phs001395.v1_SoL796777

   pfb:participant_id            pfb:project_id  pfb:state  \
0           SoL796777   topmed-HCHS-SOL_HMB-NPU  validated
1           SoL796777  parent-HCHS-SOL_HMB-NPU_  validated

                              pfb:study  pfb:submitter_id  \
0  c8ba9142-0a69-4a96-9e19-be8307a78e15         SoL796777
1  b96de753-e706-4120-88b3-16ed5ccf2081         SoL796777

               pfb:updated_datetime                            Sample  \
0  2024-04-19T21:22:15.461023+00:00  NWD101353.b38.irc.v1_subset.cram
1  2020-10-09T18:35:17.779281+00:00  NWD101353.b38.irc.v1_subset.cram

   chr6:160605062-160647661     NWD_ID
0                     41072  NWD101353
1                     41072  NWD101353

[2 rows x 58 columns]

Number of rows in Final Merged DataFrame: 7007

In [18]:
print(final_merged_df.columns)

print(dip_calls.columns)

# merge final_merged_df with dip_calls on NWD_ID
final_merged_with_diploid = pd.merge(
    final_merged_df, 
    dip_calls, 
    left_on="NWD_ID",  # match the case from final_merged_df
    right_on="nwd_id", # match the case from dip_calls
    how="inner"
)


print('\nFinal Merged with Diploid DataFrame Columns:')
print(final_merged_with_diploid.columns)
print('\nFinal Merged with Diploid DataFrame Head:')
print(final_merged_with_diploid.head(2))

print('\nNumber of rows in Final Merged with Diploid DataFrame:', len(final_merged_with_diploid))

Index(['NWD_ID_x', 'ID_x', 'STRAT_x', 'PSU_ID_x', 'GOLD_ID_x', 'GWAS_ID_x',
       'SUBJECT_ID_x', 'HH_ID_x', 'SOURCE_x', 'PC1_x', 'PC2_x', 'PC3_x',
       'PC4_x', 'PC5_x', 'PC6_x', 'PC7_x', 'PC8_x', 'PC9_x', 'PC10_x',
       'PC11_x', 'goldID_x', 'SampleID_x', 'NWD_ID_y', 'ID_y', 'STRAT_y',
       'PSU_ID_y', 'GOLD_ID_y', 'GWAS_ID_y', 'SUBJECT_ID_y', 'HH_ID_y',
       'SOURCE_y', 'PC1_y', 'PC2_y', 'PC3_y', 'PC4_y', 'PC5_y', 'PC6_y',
       'PC7_y', 'PC8_y', 'PC9_y', 'PC10_y', 'PC11_y', 'goldID_y', 'SampleID_y',
       'entity:subject_id', 'pfb:consent_codes', 'pfb:created_datetime',
       'pfb:derived_parent_subject_id', 'pfb:derived_topmed_subject_id',
       'pfb:participant_id', 'pfb:project_id', 'pfb:state', 'pfb:study',
       'pfb:submitter_id', 'pfb:updated_datetime', 'Sample',
       'chr6:160605062-160647661', 'NWD_ID'],
      dtype='object')
Index(['id', 'subject_id', 'nwd_id', 'gwas_id', 'bkgrd1', 'lpa_nmol'], dtype='object')

Final Merged with Diploid DataFrame Columns:
Index(['NWD_ID_x', 'ID_x', 'STRAT_x', 'PSU_ID_x', 'GOLD_ID_x', 'GWAS_ID_x',
       'SUBJECT_ID_x', 'HH_ID_x', 'SOURCE_x', 'PC1_x', 'PC2_x', 'PC3_x',
       'PC4_x', 'PC5_x', 'PC6_x', 'PC7_x', 'PC8_x', 'PC9_x', 'PC10_x',
       'PC11_x', 'goldID_x', 'SampleID_x', 'NWD_ID_y', 'ID_y', 'STRAT_y',
       'PSU_ID_y', 'GOLD_ID_y', 'GWAS_ID_y', 'SUBJECT_ID_y', 'HH_ID_y',
       'SOURCE_y', 'PC1_y', 'PC2_y', 'PC3_y', 'PC4_y', 'PC5_y', 'PC6_y',
       'PC7_y', 'PC8_y', 'PC9_y', 'PC10_y', 'PC11_y', 'goldID_y', 'SampleID_y',
       'entity:subject_id', 'pfb:consent_codes', 'pfb:created_datetime',
       'pfb:derived_parent_subject_id', 'pfb:derived_topmed_subject_id',
       'pfb:participant_id', 'pfb:project_id', 'pfb:state', 'pfb:study',
       'pfb:submitter_id', 'pfb:updated_datetime', 'Sample',
       'chr6:160605062-160647661', 'NWD_ID', 'id', 'subject_id', 'nwd_id',
       'gwas_id', 'bkgrd1', 'lpa_nmol'],
      dtype='object')

Final Merged with Diploid DataFrame Head:
    NWD_ID_x      ID_x  STRAT_x  PSU_ID_x GOLD_ID_x GWAS_ID_x SUBJECT_ID_x  \
0  NWD101353  54405981       12     12169       NaN  G0114796    SoL796777
1  NWD101353  54405981       12     12169       NaN  G0114796    SoL796777

    HH_ID_x SOURCE_x     PC1_x  ...              pfb:updated_datetime  \
0  H0299482   TOPMED  0.001597  ...  2024-04-19T21:22:15.461023+00:00
1  H0299482   TOPMED  0.001597  ...  2020-10-09T18:35:17.779281+00:00

                             Sample  chr6:160605062-160647661     NWD_ID  \
0  NWD101353.b38.irc.v1_subset.cram                     41072  NWD101353
1  NWD101353.b38.irc.v1_subset.cram                     41072  NWD101353

         id  subject_id     nwd_id   gwas_id  bkgrd1  lpa_nmol
0  54405981   SoL796777  NWD101353  G0114796       3       6.8
1  54405981   SoL796777  NWD101353  G0114796       3       6.8

[2 rows x 64 columns]

Number of rows in Final Merged with Diploid DataFrame: 7007

In [19]:
print(final_merged_with_diploid["lpa_nmol"].notnull().sum())

6947

In [24]:
id_cols = ["NWD_ID_x", "NWD_ID_y", "NWD_ID", "nwd_id"]

num_of_missing_lpa = 0
non_missing_lpa_rows = 0

i_non_missing_lpa_rows = 0

# for rows in final_merged_with_diploid
for index, row in final_merged_with_diploid.iterrows():

    # check if any of the NWD_ID columns are null
    if pd.isna(row[id_cols[0]]) or pd.isna(row[id_cols[1]]) or pd.isna(row[id_cols[2]]) or pd.isna(row[id_cols[3]]):
        print(f"Row {index} has null NWD_ID values:")
        print(row[id_cols])
    
    # if passed the null check, check if all NWD_ID columns are the same
    elif row[id_cols[0]] != row[id_cols[1]] or row[id_cols[0]] != row[id_cols[2]] or row[id_cols[0]] != row[id_cols[3]]:
        print(f"Row {index} has mismatched NWD_ID values:")
        print(row[id_cols])

    # if passed both checks, then the NWD_IDs are consistent for this row and exist

    # now check if lpa_nmol is null for this row
    if pd.isna(row["lpa_nmol"]):
        print(f"Row {index} has null lpa_nmol value:")
        print(row[["NWD_ID_x", "lpa_nmol"]])

        num_of_missing_lpa += 1

    # if lpa_nmol is not null, then this row has a valid NWD_ID and lpa_nmol value

    # now check if column 'chr6:160605062-160647661' is null for this row
    if pd.isna(row["chr6:160605062-160647661"]):
        print(f"Row {index} has null chr6:160605062-160647661 value:")
        print(row[["NWD_ID_x", "chr6:160605062-160647661"]])

    else:
        non_missing_lpa_rows += 1

        if i_non_missing_lpa_rows < 5:
            print(f"Row {index} has all valid NWD_IDs and non-null lpa_nmol value:")
            print(row[["NWD_ID_x", "chr6:160605062-160647661", "lpa_nmol"]])
            i_non_missing_lpa_rows += 1

print(f"\nNumber of rows with missing lpa_nmol: {num_of_missing_lpa}")
print(f"Number of rows with non-missing lpa_nmol: {non_missing_lpa_rows}")

Row 0 has all valid NWD_IDs and non-null lpa_nmol value:
NWD_ID_x                    NWD101353
chr6:160605062-160647661        41072
lpa_nmol                          6.8
Name: 0, dtype: object
Row 1 has all valid NWD_IDs and non-null lpa_nmol value:
NWD_ID_x                    NWD101353
chr6:160605062-160647661        41072
lpa_nmol                          6.8
Name: 1, dtype: object
Row 2 has null lpa_nmol value:
NWD_ID_x    NWD102891
lpa_nmol          NaN
Name: 2, dtype: object
Row 2 has all valid NWD_IDs and non-null lpa_nmol value:
NWD_ID_x                    NWD102891
chr6:160605062-160647661        34781
lpa_nmol                          NaN
Name: 2, dtype: object
Row 3 has null lpa_nmol value:
NWD_ID_x    NWD102891
lpa_nmol          NaN
Name: 3, dtype: object
Row 3 has all valid NWD_IDs and non-null lpa_nmol value:
NWD_ID_x                    NWD102891
chr6:160605062-160647661        34781
lpa_nmol                          NaN
Name: 3, dtype: object
Row 4 has all valid NWD_IDs and non-null lpa_nmol value:
NWD_ID_x                    NWD103758
chr6:160605062-160647661        33446
lpa_nmol                          5.3
Name: 4, dtype: object
Row 53 has null lpa_nmol value:
NWD_ID_x    NWD158342
lpa_nmol          NaN
Name: 53, dtype: object
Row 54 has null lpa_nmol value:
NWD_ID_x    NWD158342
lpa_nmol          NaN
Name: 54, dtype: object
Row 339 has null lpa_nmol value:
NWD_ID_x    NWD424334
lpa_nmol          NaN
Name: 339, dtype: object
Row 340 has null lpa_nmol value:
NWD_ID_x    NWD424334
lpa_nmol          NaN
Name: 340, dtype: object
Row 678 has null lpa_nmol value:
NWD_ID_x    NWD781364
lpa_nmol          NaN
Name: 678, dtype: object
Row 839 has null lpa_nmol value:
NWD_ID_x    NWD924834
lpa_nmol          NaN
Name: 839, dtype: object
Row 902 has null lpa_nmol value:
NWD_ID_x    NWD977905
lpa_nmol          NaN
Name: 902, dtype: object
Row 903 has null lpa_nmol value:
NWD_ID_x    NWD977905
lpa_nmol          NaN
Name: 903, dtype: object
Row 929 has null lpa_nmol value:
NWD_ID_x    NWD997279
lpa_nmol          NaN
Name: 929, dtype: object
Row 930 has null lpa_nmol value:
NWD_ID_x    NWD997279
lpa_nmol          NaN
Name: 930, dtype: object
Row 1283 has null lpa_nmol value:
NWD_ID_x    NWD158336
lpa_nmol          NaN
Name: 1283, dtype: object
Row 1284 has null lpa_nmol value:
NWD_ID_x    NWD158336
lpa_nmol          NaN
Name: 1284, dtype: object
Row 1694 has null lpa_nmol value:
NWD_ID_x    NWD216991
lpa_nmol          NaN
Name: 1694, dtype: object
Row 1695 has null lpa_nmol value:
NWD_ID_x    NWD216991
lpa_nmol          NaN
Name: 1695, dtype: object
Row 1817 has null lpa_nmol value:
NWD_ID_x    NWD237922
lpa_nmol          NaN
Name: 1817, dtype: object
Row 1818 has null lpa_nmol value:
NWD_ID_x    NWD237922
lpa_nmol          NaN
Name: 1818, dtype: object
Row 1975 has null lpa_nmol value:
NWD_ID_x    NWD262590
lpa_nmol          NaN
Name: 1975, dtype: object
Row 1976 has null lpa_nmol value:
NWD_ID_x    NWD262590
lpa_nmol          NaN
Name: 1976, dtype: object
Row 2078 has null lpa_nmol value:
NWD_ID_x    NWD277139
lpa_nmol          NaN
Name: 2078, dtype: object
Row 2079 has null lpa_nmol value:
NWD_ID_x    NWD277139
lpa_nmol          NaN
Name: 2079, dtype: object
Row 2487 has null lpa_nmol value:
NWD_ID_x    NWD341866
lpa_nmol          NaN
Name: 2487, dtype: object
Row 2488 has null lpa_nmol value:
NWD_ID_x    NWD341866
lpa_nmol          NaN
Name: 2488, dtype: object
Row 2541 has null lpa_nmol value:
NWD_ID_x    NWD349436
lpa_nmol          NaN
Name: 2541, dtype: object
Row 2542 has null lpa_nmol value:
NWD_ID_x    NWD349436
lpa_nmol          NaN
Name: 2542, dtype: object
Row 2776 has null lpa_nmol value:
NWD_ID_x    NWD384874
lpa_nmol          NaN
Name: 2776, dtype: object
Row 2777 has null lpa_nmol value:
NWD_ID_x    NWD384874
lpa_nmol          NaN
Name: 2777, dtype: object
Row 2931 has null lpa_nmol value:
NWD_ID_x    NWD406939
lpa_nmol          NaN
Name: 2931, dtype: object
Row 2932 has null lpa_nmol value:
NWD_ID_x    NWD406939
lpa_nmol          NaN
Name: 2932, dtype: object
Row 3630 has null lpa_nmol value:
NWD_ID_x    NWD505469
lpa_nmol          NaN
Name: 3630, dtype: object
Row 3631 has null lpa_nmol value:
NWD_ID_x    NWD505469
lpa_nmol          NaN
Name: 3631, dtype: object
Row 3721 has null lpa_nmol value:
NWD_ID_x    NWD515138
lpa_nmol          NaN
Name: 3721, dtype: object
Row 3722 has null lpa_nmol value:
NWD_ID_x    NWD515138
lpa_nmol          NaN
Name: 3722, dtype: object
Row 3757 has null lpa_nmol value:
NWD_ID_x    NWD521747
lpa_nmol          NaN
Name: 3757, dtype: object
Row 3758 has null lpa_nmol value:
NWD_ID_x    NWD521747
lpa_nmol          NaN
Name: 3758, dtype: object
Row 4753 has null lpa_nmol value:
NWD_ID_x    NWD670509
lpa_nmol          NaN
Name: 4753, dtype: object
Row 4754 has null lpa_nmol value:
NWD_ID_x    NWD670509
lpa_nmol          NaN
Name: 4754, dtype: object
Row 4942 has null lpa_nmol value:
NWD_ID_x    NWD697814
lpa_nmol          NaN
Name: 4942, dtype: object
Row 4943 has null lpa_nmol value:
NWD_ID_x    NWD697814
lpa_nmol          NaN
Name: 4943, dtype: object
Row 4956 has null lpa_nmol value:
NWD_ID_x    NWD700537
lpa_nmol          NaN
Name: 4956, dtype: object
Row 4957 has null lpa_nmol value:
NWD_ID_x    NWD700537
lpa_nmol          NaN
Name: 4957, dtype: object
Row 5012 has null lpa_nmol value:
NWD_ID_x    NWD705147
lpa_nmol          NaN
Name: 5012, dtype: object
Row 5013 has null lpa_nmol value:
NWD_ID_x    NWD705147
lpa_nmol          NaN
Name: 5013, dtype: object
Row 5070 has null lpa_nmol value:
NWD_ID_x    NWD716633
lpa_nmol          NaN
Name: 5070, dtype: object
Row 5071 has null lpa_nmol value:
NWD_ID_x    NWD716633
lpa_nmol          NaN
Name: 5071, dtype: object
Row 5289 has null lpa_nmol value:
NWD_ID_x    NWD749546
lpa_nmol          NaN
Name: 5289, dtype: object
Row 5290 has null lpa_nmol value:
NWD_ID_x    NWD749546
lpa_nmol          NaN
Name: 5290, dtype: object
Row 5394 has null lpa_nmol value:
NWD_ID_x    NWD765281
lpa_nmol          NaN
Name: 5394, dtype: object
Row 5395 has null lpa_nmol value:
NWD_ID_x    NWD765281
lpa_nmol          NaN
Name: 5395, dtype: object
Row 5746 has null lpa_nmol value:
NWD_ID_x    NWD816784
lpa_nmol          NaN
Name: 5746, dtype: object
Row 5747 has null lpa_nmol value:
NWD_ID_x    NWD816784
lpa_nmol          NaN
Name: 5747, dtype: object
Row 5941 has null lpa_nmol value:
NWD_ID_x    NWD844730
lpa_nmol          NaN
Name: 5941, dtype: object
Row 5942 has null lpa_nmol value:
NWD_ID_x    NWD844730
lpa_nmol          NaN
Name: 5942, dtype: object
Row 6163 has null lpa_nmol value:
NWD_ID_x    NWD878916
lpa_nmol          NaN
Name: 6163, dtype: object
Row 6164 has null lpa_nmol value:
NWD_ID_x    NWD878916
lpa_nmol          NaN
Name: 6164, dtype: object
Row 6662 has null lpa_nmol value:
NWD_ID_x    NWD948677
lpa_nmol          NaN
Name: 6662, dtype: object
Row 6663 has null lpa_nmol value:
NWD_ID_x    NWD948677
lpa_nmol          NaN
Name: 6663, dtype: object
Row 6913 has null lpa_nmol value:
NWD_ID_x    NWD988651
lpa_nmol          NaN
Name: 6913, dtype: object
Row 6914 has null lpa_nmol value:
NWD_ID_x    NWD988651
lpa_nmol          NaN
Name: 6914, dtype: object

Number of rows with missing lpa_nmol: 60
Number of rows with non-missing lpa_nmol: 7007

In [ ]:
df = final_merged_with_diploid.copy()

# --------------------------------------------------
# 1 Define ID columns
# --------------------------------------------------

id_cols = ["NWD_ID_x", "NWD_ID_y", "NWD_ID", "nwd_id"]

# Only keep columns that actually exist
id_cols = [c for c in id_cols if c in df.columns]

print("Using ID columns:", id_cols)


# --------------------------------------------------
# 2 Create unified NWD_ID column
# (first non-null across columns)
# --------------------------------------------------

df["NWD_ID_final"] = (
    df[id_cols]
    .bfill(axis=1)
    .iloc[:, 0]
)


# --------------------------------------------------
# 3 Detect duplicate IDs
# --------------------------------------------------

duplicate_ids = set(
    df.loc[df["NWD_ID_final"].duplicated(keep=False), "NWD_ID_final"]
)

print(f"\nNumber of duplicate NWD_IDs: {len(duplicate_ids)}")


# --------------------------------------------------
# 4 QC counters
# --------------------------------------------------

num_missing_all_ids = 0
num_id_mismatch = 0
num_missing_lpa = 0
num_missing_cnv = 0
num_duplicate_rows = 0
num_valid_rows = 0

preview_limit = 5
preview_count = 0


# --------------------------------------------------
# 5 Row-wise QC checks
# --------------------------------------------------

for index, row in df.iterrows():

    # ----- Check: at least one ID exists -----
    if all(pd.isna(row[c]) for c in id_cols):
        print(f"\nRow {index} has NO NWD_ID values:")
        print(row[id_cols])
        num_missing_all_ids += 1
        continue

    # ----- Check: ID consistency -----
    non_null_ids = [row[c] for c in id_cols if pd.notna(row[c])]
    
    if len(set(non_null_ids)) > 1:
        print(f"\nRow {index} has mismatched NWD_ID values:")
        print(row[id_cols])
        num_id_mismatch += 1

    # ----- Check: duplicate IDs -----
    if row["NWD_ID_final"] in duplicate_ids:
        print(f"\nRow {index} has duplicate NWD_ID:")
        print(row[id_cols + ["NWD_ID_final"]])
        num_duplicate_rows += 1

    # ----- Check: lpa_nmol -----
    if pd.isna(row["lpa_nmol"]):
        print(f"\nRow {index} missing lpa_nmol:")
        print(row[id_cols + ["lpa_nmol"]])
        num_missing_lpa += 1

    # ----- Check: CNV column -----
    if pd.isna(row["chr6:160605062-160647661"]):
        print(f"\nRow {index} missing chr6 CNV:")
        print(row[id_cols + ["chr6:160605062-160647661"]])
        num_missing_cnv += 1

    # ----- Preview valid rows -----
    if (
        pd.notna(row["NWD_ID_final"])
        and pd.notna(row["lpa_nmol"])
        and pd.notna(row["chr6:160605062-160647661"])
    ):
        num_valid_rows += 1

        if preview_count < preview_limit:
            print(f"\nValid row example (index {index}):")
            print(row[["NWD_ID_final","chr6:160605062-160647661","lpa_nmol"]])
            preview_count += 1


# --------------------------------------------------
# 6 Summary
# --------------------------------------------------

print("\n========== QC SUMMARY ==========")
print("Total rows:", len(df))
print("Rows missing ALL IDs:", num_missing_all_ids)
print("Rows with mismatched IDs:", num_id_mismatch)
print("Rows with duplicate IDs:", num_duplicate_rows)
print("Rows missing lpa_nmol:", num_missing_lpa)
print("Rows missing CNV:", num_missing_cnv)
print("Valid rows:", num_valid_rows)

Using ID columns: ['NWD_ID_x', 'NWD_ID_y', 'NWD_ID', 'nwd_id']

Number of duplicate NWD_IDs: 3160

Row 0 has duplicate NWD_ID:
NWD_ID_x        NWD101353
NWD_ID_y        NWD101353
NWD_ID          NWD101353
nwd_id          NWD101353
NWD_ID_final    NWD101353
Name: 0, dtype: object

Valid row example (index 0):
NWD_ID_final                NWD101353
chr6:160605062-160647661        41072
lpa_nmol                          6.8
Name: 0, dtype: object

Row 1 has duplicate NWD_ID:
NWD_ID_x        NWD101353
NWD_ID_y        NWD101353
NWD_ID          NWD101353
nwd_id          NWD101353
NWD_ID_final    NWD101353
Name: 1, dtype: object

Valid row example (index 1):
NWD_ID_final                NWD101353
chr6:160605062-160647661        41072
lpa_nmol                          6.8
Name: 1, dtype: object

Row 2 has duplicate NWD_ID:
NWD_ID_x        NWD102891
NWD_ID_y        NWD102891
NWD_ID          NWD102891
nwd_id          NWD102891
NWD_ID_final    NWD102891
Name: 2, dtype: object

Row 2 missing lpa_nmol:
NWD_ID_x    NWD102891
NWD_ID_y    NWD102891
NWD_ID      NWD102891
nwd_id      NWD102891
lpa_nmol          NaN
Name: 2, dtype: object

Row 3 has duplicate NWD_ID:
NWD_ID_x        NWD102891
NWD_ID_y        NWD102891
NWD_ID          NWD102891
nwd_id          NWD102891
NWD_ID_final    NWD102891
Name: 3, dtype: object

Row 3 missing lpa_nmol:
NWD_ID_x    NWD102891
NWD_ID_y    NWD102891
NWD_ID      NWD102891
nwd_id      NWD102891
lpa_nmol          NaN
Name: 3, dtype: object

Valid row example (index 4):
NWD_ID_final                NWD103758
chr6:160605062-160647661        33446
lpa_nmol                          5.3
Name: 4, dtype: object

Valid row example (index 5):
NWD_ID_final                NWD104026
chr6:160605062-160647661        35954
lpa_nmol                         45.1
Name: 5, dtype: object

Row 6 has duplicate NWD_ID:
NWD_ID_x        NWD108953
NWD_ID_y        NWD108953
NWD_ID          NWD108953
nwd_id          NWD108953
NWD_ID_final    NWD108953
Name: 6, dtype: object

Valid row example (index 6):
NWD_ID_final                NWD108953
chr6:160605062-160647661        32638
lpa_nmol                         46.6
Name: 6, dtype: object

Row 7 has duplicate NWD_ID:
NWD_ID_x        NWD108953
NWD_ID_y        NWD108953
NWD_ID          NWD108953
nwd_id          NWD108953
NWD_ID_final    NWD108953
Name: 7, dtype: object

Row 9 has duplicate NWD_ID:
NWD_ID_x        NWD109184
NWD_ID_y        NWD109184
NWD_ID          NWD109184
nwd_id          NWD109184
NWD_ID_final    NWD109184
Name: 9, dtype: object

Row 10 has duplicate NWD_ID:
NWD_ID_x        NWD109184
NWD_ID_y        NWD109184
NWD_ID          NWD109184
nwd_id          NWD109184
NWD_ID_final    NWD109184
Name: 10, dtype: object

Row 11 has duplicate NWD_ID:
NWD_ID_x        NWD110365
NWD_ID_y        NWD110365
NWD_ID          NWD110365
nwd_id          NWD110365
NWD_ID_final    NWD110365
Name: 11, dtype: object

Row 12 has duplicate NWD_ID:
NWD_ID_x        NWD110365
NWD_ID_y        NWD110365
NWD_ID          NWD110365
nwd_id          NWD110365
NWD_ID_final    NWD110365
Name: 12, dtype: object

Row 13 has duplicate NWD_ID:
NWD_ID_x        NWD111756
NWD_ID_y        NWD111756
NWD_ID          NWD111756
nwd_id          NWD111756
NWD_ID_final    NWD111756
Name: 13, dtype: object

Row 14 has duplicate NWD_ID:
NWD_ID_x        NWD111756
NWD_ID_y        NWD111756
NWD_ID          NWD111756
nwd_id          NWD111756
NWD_ID_final    NWD111756
Name: 14, dtype: object

Row 16 has duplicate NWD_ID:
NWD_ID_x        NWD117221
NWD_ID_y        NWD117221
NWD_ID          NWD117221
nwd_id          NWD117221
NWD_ID_final    NWD117221
Name: 16, dtype: object

Row 17 has duplicate NWD_ID:
NWD_ID_x        NWD117221
NWD_ID_y        NWD117221
NWD_ID          NWD117221
nwd_id          NWD117221
NWD_ID_final    NWD117221
Name: 17, dtype: object

Row 18 has duplicate NWD_ID:
NWD_ID_x        NWD122465
NWD_ID_y        NWD122465
NWD_ID          NWD122465
nwd_id          NWD122465
NWD_ID_final    NWD122465
Name: 18, dtype: object

Row 19 has duplicate NWD_ID:
NWD_ID_x        NWD122465
NWD_ID_y        NWD122465
NWD_ID          NWD122465
nwd_id          NWD122465
NWD_ID_final    NWD122465
Name: 19, dtype: object

Row 20 has duplicate NWD_ID:
NWD_ID_x        NWD124430
NWD_ID_y        NWD124430
NWD_ID          NWD124430
nwd_id          NWD124430
NWD_ID_final    NWD124430
Name: 20, dtype: object

Row 21 has duplicate NWD_ID:
NWD_ID_x        NWD124430
NWD_ID_y        NWD124430
NWD_ID          NWD124430
nwd_id          NWD124430
NWD_ID_final    NWD124430
Name: 21, dtype: object

Row 22 has duplicate NWD_ID:
NWD_ID_x        NWD125368
NWD_ID_y        NWD125368
NWD_ID          NWD125368
nwd_id          NWD125368
NWD_ID_final    NWD125368
Name: 22, dtype: object

Row 23 has duplicate NWD_ID:
NWD_ID_x        NWD125368
NWD_ID_y        NWD125368
NWD_ID          NWD125368
nwd_id          NWD125368
NWD_ID_final    NWD125368
Name: 23, dtype: object

Row 26 has duplicate NWD_ID:
NWD_ID_x        NWD126045
NWD_ID_y        NWD126045
NWD_ID          NWD126045
nwd_id          NWD126045
NWD_ID_final    NWD126045
Name: 26, dtype: object

Row 27 has duplicate NWD_ID:
NWD_ID_x        NWD126045
NWD_ID_y        NWD126045
NWD_ID          NWD126045
nwd_id          NWD126045
NWD_ID_final    NWD126045
Name: 27, dtype: object

Row 29 has duplicate NWD_ID:
NWD_ID_x        NWD129899
NWD_ID_y        NWD129899
NWD_ID          NWD129899
nwd_id          NWD129899
NWD_ID_final    NWD129899
Name: 29, dtype: object

Row 30 has duplicate NWD_ID:
NWD_ID_x        NWD129899
NWD_ID_y        NWD129899
NWD_ID          NWD129899
nwd_id          NWD129899
NWD_ID_final    NWD129899
Name: 30, dtype: object

Row 32 has duplicate NWD_ID:
NWD_ID_x        NWD132870
NWD_ID_y        NWD132870
NWD_ID          NWD132870
nwd_id          NWD132870
NWD_ID_final    NWD132870
Name: 32, dtype: object

Row 33 has duplicate NWD_ID:
NWD_ID_x        NWD132870
NWD_ID_y        NWD132870
NWD_ID          NWD132870
nwd_id          NWD132870
NWD_ID_final    NWD132870
Name: 33, dtype: object

Row 35 has duplicate NWD_ID:
NWD_ID_x        NWD134218
NWD_ID_y        NWD134218
NWD_ID          NWD134218
nwd_id          NWD134218
NWD_ID_final    NWD134218
Name: 35, dtype: object

Row 36 has duplicate NWD_ID:
NWD_ID_x        NWD134218
NWD_ID_y        NWD134218
NWD_ID          NWD134218
nwd_id          NWD134218
NWD_ID_final    NWD134218
Name: 36, dtype: object

Row 37 has duplicate NWD_ID:
NWD_ID_x        NWD136269
NWD_ID_y        NWD136269
NWD_ID          NWD136269
nwd_id          NWD136269
NWD_ID_final    NWD136269
Name: 37, dtype: object

Row 38 has duplicate NWD_ID:
NWD_ID_x        NWD136269
NWD_ID_y        NWD136269
NWD_ID          NWD136269
nwd_id          NWD136269
NWD_ID_final    NWD136269
Name: 38, dtype: object

Row 39 has duplicate NWD_ID:
NWD_ID_x        NWD136773
NWD_ID_y        NWD136773
NWD_ID          NWD136773
nwd_id          NWD136773
NWD_ID_final    NWD136773
Name: 39, dtype: object

Row 40 has duplicate NWD_ID:
NWD_ID_x        NWD136773
NWD_ID_y        NWD136773
NWD_ID          NWD136773
nwd_id          NWD136773
NWD_ID_final    NWD136773
Name: 40, dtype: object

Row 42 has duplicate NWD_ID:
NWD_ID_x        NWD140826
NWD_ID_y        NWD140826
NWD_ID          NWD140826
nwd_id          NWD140826
NWD_ID_final    NWD140826
Name: 42, dtype: object

Row 43 has duplicate NWD_ID:
NWD_ID_x        NWD140826
NWD_ID_y        NWD140826
NWD_ID          NWD140826
nwd_id          NWD140826
NWD_ID_final    NWD140826
Name: 43, dtype: object

Row 48 has duplicate NWD_ID:
NWD_ID_x        NWD154238
NWD_ID_y        NWD154238
NWD_ID          NWD154238
nwd_id          NWD154238
NWD_ID_final    NWD154238
Name: 48, dtype: object

Row 49 has duplicate NWD_ID:
NWD_ID_x        NWD154238
NWD_ID_y        NWD154238
NWD_ID          NWD154238
nwd_id          NWD154238
NWD_ID_final    NWD154238
Name: 49, dtype: object

Row 51 has duplicate NWD_ID:
NWD_ID_x        NWD156207
NWD_ID_y        NWD156207
NWD_ID          NWD156207
nwd_id          NWD156207
NWD_ID_final    NWD156207
Name: 51, dtype: object

Row 52 has duplicate NWD_ID:
NWD_ID_x        NWD156207
NWD_ID_y        NWD156207
NWD_ID          NWD156207
nwd_id          NWD156207
NWD_ID_final    NWD156207
Name: 52, dtype: object

Row 53 has duplicate NWD_ID:
NWD_ID_x        NWD158342
NWD_ID_y        NWD158342
NWD_ID          NWD158342
nwd_id          NWD158342
NWD_ID_final    NWD158342
Name: 53, dtype: object

Row 53 missing lpa_nmol:
NWD_ID_x    NWD158342
NWD_ID_y    NWD158342
NWD_ID      NWD158342
nwd_id      NWD158342
lpa_nmol          NaN
Name: 53, dtype: object

Row 54 has duplicate NWD_ID:
NWD_ID_x        NWD158342
NWD_ID_y        NWD158342
NWD_ID          NWD158342
nwd_id          NWD158342
NWD_ID_final    NWD158342
Name: 54, dtype: object

Row 54 missing lpa_nmol:
NWD_ID_x    NWD158342
NWD_ID_y    NWD158342
NWD_ID      NWD158342
nwd_id      NWD158342
lpa_nmol          NaN
Name: 54, dtype: object

Row 55 has duplicate NWD_ID:
NWD_ID_x        NWD158500
NWD_ID_y        NWD158500
NWD_ID          NWD158500
nwd_id          NWD158500
NWD_ID_final    NWD158500
Name: 55, dtype: object

Row 56 has duplicate NWD_ID:
NWD_ID_x        NWD158500
NWD_ID_y        NWD158500
NWD_ID          NWD158500
nwd_id          NWD158500
NWD_ID_final    NWD158500
Name: 56, dtype: object

Row 57 has duplicate NWD_ID:
NWD_ID_x        NWD158635
NWD_ID_y        NWD158635
NWD_ID          NWD158635
nwd_id          NWD158635
NWD_ID_final    NWD158635
Name: 57, dtype: object

Row 58 has duplicate NWD_ID:
NWD_ID_x        NWD158635
NWD_ID_y        NWD158635
NWD_ID          NWD158635
nwd_id          NWD158635
NWD_ID_final    NWD158635
Name: 58, dtype: object

Row 59 has duplicate NWD_ID:
NWD_ID_x        NWD159504
NWD_ID_y        NWD159504
NWD_ID          NWD159504
nwd_id          NWD159504
NWD_ID_final    NWD159504
Name: 59, dtype: object

Row 60 has duplicate NWD_ID:
NWD_ID_x        NWD159504
NWD_ID_y        NWD159504
NWD_ID          NWD159504
nwd_id          NWD159504
NWD_ID_final    NWD159504
Name: 60, dtype: object

Row 61 has duplicate NWD_ID:
NWD_ID_x        NWD163431
NWD_ID_y        NWD163431
NWD_ID          NWD163431
nwd_id          NWD163431
NWD_ID_final    NWD163431
Name: 61, dtype: object

Row 62 has duplicate NWD_ID:
NWD_ID_x        NWD163431
NWD_ID_y        NWD163431
NWD_ID          NWD163431
nwd_id          NWD163431
NWD_ID_final    NWD163431
Name: 62, dtype: object

Row 63 has duplicate NWD_ID:
NWD_ID_x        NWD167482
NWD_ID_y        NWD167482
NWD_ID          NWD167482
nwd_id          NWD167482
NWD_ID_final    NWD167482
Name: 63, dtype: object

Row 64 has duplicate NWD_ID:
NWD_ID_x        NWD167482
NWD_ID_y        NWD167482
NWD_ID          NWD167482
nwd_id          NWD167482
NWD_ID_final    NWD167482
Name: 64, dtype: object

Row 65 has duplicate NWD_ID:
NWD_ID_x        NWD172090
NWD_ID_y        NWD172090
NWD_ID          NWD172090
nwd_id          NWD172090
NWD_ID_final    NWD172090
Name: 65, dtype: object

Row 66 has duplicate NWD_ID:
NWD_ID_x        NWD172090
NWD_ID_y        NWD172090
NWD_ID          NWD172090
nwd_id          NWD172090
NWD_ID_final    NWD172090
Name: 66, dtype: object

Row 67 has duplicate NWD_ID:
NWD_ID_x        NWD173041
NWD_ID_y        NWD173041
NWD_ID          NWD173041
nwd_id          NWD173041
NWD_ID_final    NWD173041
Name: 67, dtype: object

Row 68 has duplicate NWD_ID:
NWD_ID_x        NWD173041
NWD_ID_y        NWD173041
NWD_ID          NWD173041
nwd_id          NWD173041
NWD_ID_final    NWD173041
Name: 68, dtype: object

Row 69 has duplicate NWD_ID:
NWD_ID_x        NWD175684
NWD_ID_y        NWD175684
NWD_ID          NWD175684
nwd_id          NWD175684
NWD_ID_final    NWD175684
Name: 69, dtype: object

Row 70 has duplicate NWD_ID:
NWD_ID_x        NWD175684
NWD_ID_y        NWD175684
NWD_ID          NWD175684
nwd_id          NWD175684
NWD_ID_final    NWD175684
Name: 70, dtype: object

Row 71 has duplicate NWD_ID:
NWD_ID_x        NWD178316
NWD_ID_y        NWD178316
NWD_ID          NWD178316
nwd_id          NWD178316
NWD_ID_final    NWD178316
Name: 71, dtype: object

Row 72 has duplicate NWD_ID:
NWD_ID_x        NWD178316
NWD_ID_y        NWD178316
NWD_ID          NWD178316
nwd_id          NWD178316
NWD_ID_final    NWD178316
Name: 72, dtype: object

Row 73 has duplicate NWD_ID:
NWD_ID_x        NWD179139
NWD_ID_y        NWD179139
NWD_ID          NWD179139
nwd_id          NWD179139
NWD_ID_final    NWD179139
Name: 73, dtype: object

Row 74 has duplicate NWD_ID:
NWD_ID_x        NWD179139
NWD_ID_y        NWD179139
NWD_ID          NWD179139
nwd_id          NWD179139
NWD_ID_final    NWD179139
Name: 74, dtype: object

Row 75 has duplicate NWD_ID:
NWD_ID_x        NWD179545
NWD_ID_y        NWD179545
NWD_ID          NWD179545
nwd_id          NWD179545
NWD_ID_final    NWD179545
Name: 75, dtype: object

Row 76 has duplicate NWD_ID:
NWD_ID_x        NWD179545
NWD_ID_y        NWD179545
NWD_ID          NWD179545
nwd_id          NWD179545
NWD_ID_final    NWD179545
Name: 76, dtype: object

Row 77 has duplicate NWD_ID:
NWD_ID_x        NWD183480
NWD_ID_y        NWD183480
NWD_ID          NWD183480
nwd_id          NWD183480
NWD_ID_final    NWD183480
Name: 77, dtype: object

Row 78 has duplicate NWD_ID:
NWD_ID_x        NWD183480
NWD_ID_y        NWD183480
NWD_ID          NWD183480
nwd_id          NWD183480
NWD_ID_final    NWD183480
Name: 78, dtype: object

Row 79 has duplicate NWD_ID:
NWD_ID_x        NWD185471
NWD_ID_y        NWD185471
NWD_ID          NWD185471
nwd_id          NWD185471
NWD_ID_final    NWD185471
Name: 79, dtype: object

Row 80 has duplicate NWD_ID:
NWD_ID_x        NWD185471
NWD_ID_y        NWD185471
NWD_ID          NWD185471
nwd_id          NWD185471
NWD_ID_final    NWD185471
Name: 80, dtype: object

Row 81 has duplicate NWD_ID:
NWD_ID_x        NWD186056
NWD_ID_y        NWD186056
NWD_ID          NWD186056
nwd_id          NWD186056
NWD_ID_final    NWD186056
Name: 81, dtype: object

Row 82 has duplicate NWD_ID:
NWD_ID_x        NWD186056
NWD_ID_y        NWD186056
NWD_ID          NWD186056
nwd_id          NWD186056
NWD_ID_final    NWD186056
Name: 82, dtype: object

Row 84 has duplicate NWD_ID:
NWD_ID_x        NWD193461
NWD_ID_y        NWD193461
NWD_ID          NWD193461
nwd_id          NWD193461
NWD_ID_final    NWD193461
Name: 84, dtype: object

Row 85 has duplicate NWD_ID:
NWD_ID_x        NWD193461
NWD_ID_y        NWD193461
NWD_ID          NWD193461
nwd_id          NWD193461
NWD_ID_final    NWD193461
Name: 85, dtype: object

Row 87 has duplicate NWD_ID:
NWD_ID_x        NWD195863
NWD_ID_y        NWD195863
NWD_ID          NWD195863
nwd_id          NWD195863
NWD_ID_final    NWD195863
Name: 87, dtype: object

Row 88 has duplicate NWD_ID:
NWD_ID_x        NWD195863
NWD_ID_y        NWD195863
NWD_ID          NWD195863
nwd_id          NWD195863
NWD_ID_final    NWD195863
Name: 88, dtype: object

Row 89 has duplicate NWD_ID:
NWD_ID_x        NWD197476
NWD_ID_y        NWD197476
NWD_ID          NWD197476
nwd_id          NWD197476
NWD_ID_final    NWD197476
Name: 89, dtype: object

Row 90 has duplicate NWD_ID:
NWD_ID_x        NWD197476
NWD_ID_y        NWD197476
NWD_ID          NWD197476
nwd_id          NWD197476
NWD_ID_final    NWD197476
Name: 90, dtype: object

Row 91 has duplicate NWD_ID:
NWD_ID_x        NWD197550
NWD_ID_y        NWD197550
NWD_ID          NWD197550
nwd_id          NWD197550
NWD_ID_final    NWD197550
Name: 91, dtype: object

Row 92 has duplicate NWD_ID:
NWD_ID_x        NWD197550
NWD_ID_y        NWD197550
NWD_ID          NWD197550
nwd_id          NWD197550
NWD_ID_final    NWD197550
Name: 92, dtype: object

Row 93 has duplicate NWD_ID:
NWD_ID_x        NWD198943
NWD_ID_y        NWD198943
NWD_ID          NWD198943
nwd_id          NWD198943
NWD_ID_final    NWD198943
Name: 93, dtype: object

Row 94 has duplicate NWD_ID:
NWD_ID_x        NWD198943
NWD_ID_y        NWD198943
NWD_ID          NWD198943
nwd_id          NWD198943
NWD_ID_final    NWD198943
Name: 94, dtype: object

Row 95 has duplicate NWD_ID:
NWD_ID_x        NWD199834
NWD_ID_y        NWD199834
NWD_ID          NWD199834
nwd_id          NWD199834
NWD_ID_final    NWD199834
Name: 95, dtype: object

Row 96 has duplicate NWD_ID:
NWD_ID_x        NWD199834
NWD_ID_y        NWD199834
NWD_ID          NWD199834
nwd_id          NWD199834
NWD_ID_final    NWD199834
Name: 96, dtype: object

Row 97 has duplicate NWD_ID:
NWD_ID_x        NWD201431
NWD_ID_y        NWD201431
NWD_ID          NWD201431
nwd_id          NWD201431
NWD_ID_final    NWD201431
Name: 97, dtype: object

Row 98 has duplicate NWD_ID:
NWD_ID_x        NWD201431
NWD_ID_y        NWD201431
NWD_ID          NWD201431
nwd_id          NWD201431
NWD_ID_final    NWD201431
Name: 98, dtype: object

Row 99 has duplicate NWD_ID:
NWD_ID_x        NWD202402
NWD_ID_y        NWD202402
NWD_ID          NWD202402
nwd_id          NWD202402
NWD_ID_final    NWD202402
Name: 99, dtype: object

Row 100 has duplicate NWD_ID:
NWD_ID_x        NWD202402
NWD_ID_y        NWD202402
NWD_ID          NWD202402
nwd_id          NWD202402
NWD_ID_final    NWD202402
Name: 100, dtype: object

Row 101 has duplicate NWD_ID:
NWD_ID_x        NWD203666
NWD_ID_y        NWD203666
NWD_ID          NWD203666
nwd_id          NWD203666
NWD_ID_final    NWD203666
Name: 101, dtype: object

Row 102 has duplicate NWD_ID:
NWD_ID_x        NWD203666
NWD_ID_y        NWD203666
NWD_ID          NWD203666
nwd_id          NWD203666
NWD_ID_final    NWD203666
Name: 102, dtype: object

Row 103 has duplicate NWD_ID:
NWD_ID_x        NWD214016
NWD_ID_y        NWD214016
NWD_ID          NWD214016
nwd_id          NWD214016
NWD_ID_final    NWD214016
Name: 103, dtype: object

Row 104 has duplicate NWD_ID:
NWD_ID_x        NWD214016
NWD_ID_y        NWD214016
NWD_ID          NWD214016
nwd_id          NWD214016
NWD_ID_final    NWD214016
Name: 104, dtype: object

Row 105 has duplicate NWD_ID:
NWD_ID_x        NWD214628
NWD_ID_y        NWD214628
NWD_ID          NWD214628
nwd_id          NWD214628
NWD_ID_final    NWD214628
Name: 105, dtype: object

Row 106 has duplicate NWD_ID:
NWD_ID_x        NWD214628
NWD_ID_y        NWD214628
NWD_ID          NWD214628
nwd_id          NWD214628
NWD_ID_final    NWD214628
Name: 106, dtype: object

Row 107 has duplicate NWD_ID:
NWD_ID_x        NWD216470
NWD_ID_y        NWD216470
NWD_ID          NWD216470
nwd_id          NWD216470
NWD_ID_final    NWD216470
Name: 107, dtype: object

Row 108 has duplicate NWD_ID:
NWD_ID_x        NWD216470
NWD_ID_y        NWD216470
NWD_ID          NWD216470
nwd_id          NWD216470
NWD_ID_final    NWD216470
Name: 108, dtype: object

Row 111 has duplicate NWD_ID:
NWD_ID_x        NWD224717
NWD_ID_y        NWD224717
NWD_ID          NWD224717
nwd_id          NWD224717
NWD_ID_final    NWD224717
Name: 111, dtype: object

Row 112 has duplicate NWD_ID:
NWD_ID_x        NWD224717
NWD_ID_y        NWD224717
NWD_ID          NWD224717
nwd_id          NWD224717
NWD_ID_final    NWD224717
Name: 112, dtype: object

Row 113 has duplicate NWD_ID:
NWD_ID_x        NWD225215
NWD_ID_y        NWD225215
NWD_ID          NWD225215
nwd_id          NWD225215
NWD_ID_final    NWD225215
Name: 113, dtype: object

Row 114 has duplicate NWD_ID:
NWD_ID_x        NWD225215
NWD_ID_y        NWD225215
NWD_ID          NWD225215
nwd_id          NWD225215
NWD_ID_final    NWD225215
Name: 114, dtype: object

Row 115 has duplicate NWD_ID:
NWD_ID_x        NWD225456
NWD_ID_y        NWD225456
NWD_ID          NWD225456
nwd_id          NWD225456
NWD_ID_final    NWD225456
Name: 115, dtype: object

Row 116 has duplicate NWD_ID:
NWD_ID_x        NWD225456
NWD_ID_y        NWD225456
NWD_ID          NWD225456
nwd_id          NWD225456
NWD_ID_final    NWD225456
Name: 116, dtype: object

Row 117 has duplicate NWD_ID:
NWD_ID_x        NWD225949
NWD_ID_y        NWD225949
NWD_ID          NWD225949
nwd_id          NWD225949
NWD_ID_final    NWD225949
Name: 117, dtype: object

Row 118 has duplicate NWD_ID:
NWD_ID_x        NWD225949
NWD_ID_y        NWD225949
NWD_ID          NWD225949
nwd_id          NWD225949
NWD_ID_final    NWD225949
Name: 118, dtype: object


# FMS

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Import files
cross_walk = pd.read_csv("/nas/longleaf/home/catererz/epi/GRiD/files/SOL_NWD_IDs_crosswalk.csv")
dip_calls = pd.read_csv("/nas/longleaf/home/catererz/epi/GRiD/files/diploid_calls.txt", sep=",")

anschutz_lpa_subject = pd.read_csv("./files/anschutz_lpa_subject.tsv", sep="\t")
count_reads_tsv = pd.read_csv("/nas/longleaf/home/catererz/work/updated_LPA_VNTR_SOFTWARE/count-reads.tsv", sep="\t")

In [3]:
# Remove columns 
cross_walk = cross_walk.drop(columns=["STRAT", "PSU_ID", "GOLD_ID", "GWAS_ID", "HH_ID", "SOURCE", "PC1", "PC2", "PC3", "PC4", "PC5", 
                                      "PC6", "PC7", "PC8", "PC9", "PC10", "PC11", "goldID"])

anschutz_lpa_subject = anschutz_lpa_subject.drop(columns=[
    "entity:subject_id", "pfb:consent_codes", "pfb:created_datetime", "pfb:derived_parent_subject_id", 
    "pfb:derived_topmed_subject_id", "pfb:project_id", "pfb:state", "pfb:study", "pfb:submitter_id", "pfb:updated_datetime"
    ])

# get a column of the nwd_id from count_reads_tsv by splitting the Sample column on '.' and taking the first part
count_reads_tsv['NWD_ID'] = count_reads_tsv['Sample'].str.split('.').str[0]

In [4]:
# lets merge cross_walk with dip_calls on the id column
cross_walk_merged_with_diploid_calls = pd.merge(
    cross_walk, 
    dip_calls, 
    left_on="ID",  # match the case from cross_walk
    right_on="id", # match the case from dip_calls
    how="inner"
)

In [5]:
for index, row in cross_walk_merged_with_diploid_calls.iterrows():

    # SUBJECT_ID fill
    if pd.isna(row["SUBJECT_ID"]) and pd.notna(row["subject_id"]):
        cross_walk_merged_with_diploid_calls.at[index, "SUBJECT_ID"] = row["subject_id"]

    elif pd.notna(row["SUBJECT_ID"]) and pd.isna(row["subject_id"]):
        cross_walk_merged_with_diploid_calls.at[index, "subject_id"] = row["SUBJECT_ID"]

    # NWD_ID fill
    if pd.isna(row["NWD_ID"]) and pd.notna(row["nwd_id"]):
        cross_walk_merged_with_diploid_calls.at[index, "NWD_ID"] = row["nwd_id"]

    elif pd.notna(row["NWD_ID"]) and pd.isna(row["nwd_id"]):
        cross_walk_merged_with_diploid_calls.at[index, "nwd_id"] = row["NWD_ID"]

In [7]:
# now lets remove redundant columns from cross_walk_merged_with_diploid_calls
cross_walk_merged_with_diploid_calls = cross_walk_merged_with_diploid_calls.drop(
    columns=[
        "id", "subject_id", "nwd_id", "SampleID"
        ]
    )

In [8]:
print("Merged Cross Walk with Diploid Calls Columns:")
print(cross_walk_merged_with_diploid_calls.columns.tolist())

print("\n Head of Merged Cross Walk with Diploid Calls DataFrame:")
print(cross_walk_merged_with_diploid_calls.head(5))

Merged Cross Walk with Diploid Calls Columns:
['ID', 'SUBJECT_ID', 'NWD_ID', 'gwas_id', 'bkgrd1', 'lpa_nmol']

 Head of Merged Cross Walk with Diploid Calls DataFrame:
      ID SUBJECT_ID     NWD_ID   gwas_id bkgrd1   lpa_nmol
0   5678  SoL694820        NaN  G0114250      3   7.600000
1  60961  SoL622870  NWD550481  G0162071      3   0.643464
2  79086  SoL965307  NWD400329  G0098408      2   6.000000
3  93841  SoL233081  NWD272848  G0008006      3  13.000000
4  94904  SoL999501  NWD395164  G0044629      1   0.483040

In [10]:
print("\nCount Reads TSV Columns:")
print(count_reads_tsv.columns.tolist())

print("\nCount Reads TSV Head:")
print(count_reads_tsv.head(5))

Count Reads TSV Columns:
['Sample', 'chr6:160605062-160647661', 'NWD_ID']

Count Reads TSV Head:
                             Sample  chr6:160605062-160647661     NWD_ID
0  NWD422490.b38.irc.v1_subset.cram                     14614  NWD422490
1  NWD655671.b38.irc.v1_subset.cram                     22586  NWD655671
2  NWD362830.b38.irc.v1_subset.cram                     29674  NWD362830
3  NWD278973.b38.irc.v1_subset.cram                     28864  NWD278973
4  NWD651907.b38.irc.v1_subset.cram                     28752  NWD651907

In [11]:
# now lets merge cross_walk_merged_with_diploid_calls with count_reads_tsv on NWD_ID
final_merged_df = pd.merge(
    cross_walk_merged_with_diploid_calls,
    count_reads_tsv,
    left_on="NWD_ID",
    right_on="NWD_ID",
    how="inner"
)

In [12]:
print('Final Merged DataFrame Columns:')
print(final_merged_df.columns.tolist())

print('Final Merged DataFrame Head:')
print(final_merged_df.head(5))

print('Number of rows in Final Merged DataFrame:', len(final_merged_df))

Final Merged DataFrame Columns:
['ID', 'SUBJECT_ID', 'NWD_ID', 'gwas_id', 'bkgrd1', 'lpa_nmol', 'Sample', 'chr6:160605062-160647661']
Final Merged DataFrame Head:
       ID SUBJECT_ID     NWD_ID   gwas_id bkgrd1  lpa_nmol  \
0   79086  SoL965307  NWD400329  G0098408      2       6.0
1  118783  SoL130696  NWD420003  G0121562      4       4.8
2  349391  SoL937373  NWD634346  G0047376      4      12.8
3  464086  SoL562713  NWD400166  G0096811      2     195.2
4  530555  SoL429014  NWD117326  G0090848      2      65.4

                             Sample  chr6:160605062-160647661
0  NWD400329.b38.irc.v1_subset.cram                     34416
1  NWD420003.b38.irc.v1_subset.cram                     42115
2  NWD634346.b38.irc.v1_subset.cram                     21528
3  NWD400166.b38.irc.v1_subset.cram                     24584
4  NWD117326.b38.irc.v1_subset.cram                     29394
Number of rows in Final Merged DataFrame: 3861

In [14]:
import pandas as pd
import numpy as np

############################################
# Helper function: normalize IDs
############################################

def normalize_id(series):
    return (
        series.astype(str)
        .str.strip()
        .str.upper()
    )

############################################
# Import files
############################################

cross_walk = pd.read_csv(
    "/nas/longleaf/home/catererz/epi/GRiD/files/SOL_NWD_IDs_crosswalk.csv"
)

dip_calls = pd.read_csv(
    "/nas/longleaf/home/catererz/epi/GRiD/files/diploid_calls.txt",
    sep=","
)

anschutz_lpa_subject = pd.read_csv(
    "./files/anschutz_lpa_subject.tsv",
    sep="\t"
)

count_reads_tsv = pd.read_csv(
    "/nas/longleaf/home/catererz/work/updated_LPA_VNTR_SOFTWARE/count-reads.tsv",
    sep="\t"
)

############################################
# Drop unused columns
############################################

cross_walk = cross_walk.drop(columns=[
    "STRAT", "PSU_ID", "GOLD_ID", "GWAS_ID", "HH_ID",
    "SOURCE", "PC1", "PC2", "PC3", "PC4", "PC5",
    "PC6", "PC7", "PC8", "PC9", "PC10", "PC11", "goldID"
])

anschutz_lpa_subject = anschutz_lpa_subject.drop(columns=[
    "entity:subject_id", "pfb:consent_codes", "pfb:created_datetime",
    "pfb:derived_parent_subject_id", "pfb:derived_topmed_subject_id",
    "pfb:project_id", "pfb:state", "pfb:study", "pfb:submitter_id",
    "pfb:updated_datetime"
])

############################################
# Create NWD_ID in count_reads
############################################

count_reads_tsv["NWD_ID"] = (
    count_reads_tsv["Sample"]
    .astype(str)
    .str.split(".").str[0]
)

############################################
# Normalize ALL key IDs
############################################

cross_walk["ID"] = normalize_id(cross_walk["ID"])
dip_calls["id"] = normalize_id(dip_calls["id"])

cross_walk["NWD_ID"] = normalize_id(cross_walk["NWD_ID"])
dip_calls["nwd_id"] = normalize_id(dip_calls["nwd_id"])
count_reads_tsv["NWD_ID"] = normalize_id(count_reads_tsv["NWD_ID"])

############################################
# Merge crosswalk + diploid (LEFT JOIN)
############################################

merged = cross_walk.merge(
    dip_calls,
    left_on="ID",
    right_on="id",
    how="left"   # IMPORTANT: avoid early sample loss
)

print("After crosswalk + diploid merge:", len(merged))

############################################
# Fill missing SUBJECT_ID + NWD_ID (vectorized)
############################################

if "SUBJECT_ID" in merged.columns and "subject_id" in merged.columns:
    merged["SUBJECT_ID"] = merged["SUBJECT_ID"].fillna(merged["subject_id"])
    merged["subject_id"] = merged["subject_id"].fillna(merged["SUBJECT_ID"])

if "NWD_ID" in merged.columns and "nwd_id" in merged.columns:
    merged["NWD_ID"] = merged["NWD_ID"].fillna(merged["nwd_id"])

############################################
# Clean redundant columns
############################################

cols_to_drop = [c for c in ["id", "subject_id", "nwd_id", "SampleID"] if c in merged.columns]
merged = merged.drop(columns=cols_to_drop)

############################################
# Normalize NWD_ID again after filling
############################################

merged["NWD_ID"] = normalize_id(merged["NWD_ID"])

############################################
# DEBUG: Check overlap BEFORE merging reads
############################################

left_ids = set(merged["NWD_ID"].dropna())
right_ids = set(count_reads_tsv["NWD_ID"].dropna())

print("Unique NWD_ID in merged:", len(left_ids))
print("Unique NWD_ID in reads:", len(right_ids))
print("Intersection:", len(left_ids & right_ids))

############################################
# Merge with read counts (LEFT JOIN FIRST)
############################################

final_merged_df = merged.merge(
    count_reads_tsv,
    on="NWD_ID",
    how="left"   # use LEFT first to diagnose
)

############################################
# Diagnostics
############################################

print("\nFinal Merged DataFrame Columns:")
print(final_merged_df.columns.tolist())

print("\nFinal Merged DataFrame Head:")
print(final_merged_df.head(5))

print("\nTotal rows:", len(final_merged_df))

if "chr6:160605062-160647661" in final_merged_df.columns:
    print("Rows with read counts:",
          final_merged_df["chr6:160605062-160647661"].notna().sum())

After crosswalk + diploid merge: 16415
Unique NWD_ID in merged: 8249
Unique NWD_ID in reads: 7186
Intersection: 3861

Final Merged DataFrame Columns:
['ID', 'SUBJECT_ID', 'NWD_ID', 'gwas_id', 'bkgrd1', 'lpa_nmol', 'Sample', 'chr6:160605062-160647661']

Final Merged DataFrame Head:
      ID SUBJECT_ID     NWD_ID   gwas_id bkgrd1   lpa_nmol  \
0   5678  SoL694820        NAN  G0114250      3   7.600000
1  60961  SoL622870        NAN  G0162071      3   0.643464
2  79086  SoL965307  NWD400329  G0098408      2   6.000000
3  93841  SoL233081        NAN  G0008006      3  13.000000
4  94904  SoL999501  NWD395164  G0044629      1   0.483040

                             Sample  chr6:160605062-160647661
0                               NaN                       NaN
1                               NaN                       NaN
2  NWD400329.b38.irc.v1_subset.cram                   34416.0
3                               NaN                       NaN
4                               NaN                       NaN

Total rows: 16415
Rows with read counts: 3861